.container {
  display: flex;
  height: 100vh;
}

.chat-list {
  width: 25%;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.chat-item {
  display: flex;
  font-family: "Raleway", sans-serif;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 2px solid #bec1bb;
}

.chat-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-window {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header h1 {
  margin: 0%;
  font-size: 60px;
  height: fit-content;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

.chat-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.chat-body img {
  width: 30%;
}

.chat-body p {
  text-align: center;
  margin: 0%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.chat-footer {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #bec1bb;
}

.chat-footer button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #a491d2;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

#pgris {
  font-size: 15px;
}
.nombmargen {
  margin: 0px;
}

#icons {
  margin-left: 40%;
  font-size: 25px;
}
